@font-face{
    font-family:Saiyan;
    src: url(Saiyan-Sans.ttf);
}

html {
        background: grey;
        cursor: url(https://cur.cursors-4u.net/food/foo-7/foo615.cur), auto !important;
}

h1{
    font-family: Saiyan;
    font-size: 200px;
}

body{
    text-align: center;
}

.img1 {
    height:500px;
}
.img2 {
    height:300px;
}
.img3 {
    height: 100px;
}
.img4 {
    height 50px;
}
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/food/foo-7/foo615.cur), auto !important;} /* End https://www.cursors-4u.com */